<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<ul>
		<li>Name: <%= @name %></li>
		<li>Email: <%= @email %></li>
		<li>Telephone: <%= @telephone %></li>
		<li>How can I help: <%= @howcanihelp %></li>
	</ul>
  </body>
</html>