<div class="grey">
	<h2 class='centered heading'>YOUR EMAIL SUBMISSION HAS BEEN SENT</h2>
	<h2 class='centered heading'> &diam;</h2>
	<h2 class='centered heading'>auston@wyncode.co</h2>
	<a href="/">
		<div class='grey centered boxed-button'>RETURN</div>
	</a>
	<br />
	<ul>
		<li>Name: <%= @name %></li>
		<li>Email: <%= @email %></li>
		<li>Telephone: <%= @telephone %></li>
		<li>How can I help: <%= @howcanihelp %></li>
	</ul>
</div>