/* My first ever SASS page!
	Author: Gregory Hedrick
	Date: 5/14/16
*/

/* --- Color definitions --- */
$darkgray:	#1B1E25;
$blue:	#2ABBAC;
$lightgray:  #FBFBFB;

.dim {
	color: #777;
}

.bright {
}

.grey {
	background-color: $darkgray;
	color: white;
}

.blue {
	background-color: $blue;
	color: white;
}

.white {
	background-color: white;
	color: $darkgray;
}

.lightgray {
	background-color: $lightgray;
	color: $darkgray;
}
/* --- end color definitions --- */

/* --- Page section styles --- */

.greypage {
	@extend .grey;
	display: flex;
	height: 600px;
}

.bluepage {
	@extend .blue;
	display: flex;
	height: 600px;
	justify-content: center;
	align-items: center;
}

.whitepage {
	@extend .white;
	display: flex;
	height: 600px;
	justify-content: center;
	align-items: center;
}
.lightgraypage {
	@extend .lightgray;
	display: flex;
	height: 600px;
	justify-content: center;
	align-items: center;
}

.firstpage {
	@extend .greypage;
	flex-direction: row-reverse;
}

.pagefooter {
	display: flex;
	@extend .grey;
	height: 100px;
	justify-content: center;
	align-items: flex-end;
font-family: 'Helvetica';
	font-weight: 100;
	line-height: 40px;
}

/* --- end page section styles --- */

/* --- Page element styles --- */
.heading {
	font-family: 'Helvetica';
	font-size: 2.5em;
	font-weight: 0;
	line-height: 2em;
}

.language {
	flex-direction: row;
	color: white;
	border: 1px solid white;
	padding: 10px;
}

.centered {
/*	width: 100%;*/
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: auto;
}

.tabdown {
/*  -moz-transform:rotate(-180deg); 
  -webkit-transform:rotate(-180deg);        
  -ms-transform:rotate(-180deg);
  -o-transform:rotate(-180deg);*/
  transform:rotate(-180deg);

	font-size: 72px;
	font-weight: bold;
	font-family: 'Helvetica';

	border-radius: 50%;
	padding-top: 0px;
	margin-top: 0px;
	line-height:25px;

	width: 50%;
/*	display: flex;
	justify-content: space-around;*/
}

p {
	padding: 30px;
}

.leftside {
	text-align: center;
	float: left;
	width: 50%;
}

.rightside {
	text-align: center;
	float: right;
	width: 50%;
}

.readmore {
}

.contact input[type="text"], textarea {
	@extend .grey;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	font-style: italic;
	font-size: 1.5em;
	line-height: 50px;
}

.contact textarea {
	line-height: 20px;
	height: 80px;
	width: 400px;
}

.contact input[type="submit"] {
	font-weight: bold;
	font-size: 1.5em;
	border: 1px solid white;
	padding: 15px;
	width: 50%;
	text-align: center;
	margin: auto;
}

.boxed {
	border: 1px solid white;
	padding: 45px;
}

.boxed-button {
	font-weight: bold;
	font-size: 1.5em;
	border: 1px solid white;
	padding: 15px;
	width: 50%;
	text-align: center;
	margin: auto;
}

.social {
	display: flex;
	justify-content: center;
}

.tweets {
	width: 80%;
}

span.contact {
	@extend .grey;
	font-style: italic;
	font-size: 1.5em;
	line-height: 50px;
}

a:link.whitelink, a:visited.whitelink {
  color: #fff;
  text-decoration: none;
}

/* --- end page element styles --- */

/* --- Admin pages element styles --- */

.pagelist td {
	border: 1px solid black;
}

.edithtml {
	font-style: normal;
	font-size: 1em;
	line-height: 20px;
	height: 400px;
	width: 800px;
}